<footer class="footer">
  <div class="container">
    <div class="footer-menu">
      <div class="footer-menu-big">
        <div class="footer-menu-big-title">
          Продукты:
        </div>
        <menu>
            <li><a href="#">Diamond ACS</a></li>
            <li><a href="#">Diamond VPN/FW</a></li>
            <li><a href="#">Diamond USb Key</a></li>
            <li><a href="#">Diamond Virtual Secure</a></li>
        </menu>
      </div>
      <div class="footer-menu-normal">
        <div class="footer-menu-normal-col">
          <div class="footer-menu-normal-title">
            Решения:
          </div>
          <menu>
              <li><a href="#">Защита персональных данных</a></li>
              <li><a href="#">Защита коммерческой тайны</a></li>
              <li><a href="#">Защита информации в открытых системах</a></li>
              <li><a href="#">Защита облачных инфраструктур</a></li>
          </menu>
        </div>
        <div class="footer-menu-normal-col">
          <div class="footer-menu-normal-title">
            Услуги:
          </div>
          <menu>
              <li><a href="#">Комплексная защита информации</a></li>
              <li><a href="#">Разработка средств защиты</a></li>
              <li><a href="#">Аудит ИБ</a></li>
              <li><a href="#">Консалтинг в области ИБ</a></li>
          </menu>
        </div>
        <div class="footer-menu-normal-col">
          <div class="footer-menu-normal-title">
            Материалы:
          </div>
          <menu>
              <li><a href="#">Публикации</a></li>
              <li><a href="#">Образовательные программы</a></li>
              <li><a href="#">Вебинары</a></li>
              <li><a href="#">Блог</a></li>
          </menu>
        </div>
      </div>
      <div class="footer-menu-right">
        <div class="footer-menu-right-title">
          Компания:
        </div>
        <menu>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Партнерам</a></li>
        </menu>
      </div>
    </div>
    <div class="footer-phones">
      <div class="footer-phones-item">
        <b>+7 (495) 943-08-03</b>
      </div>
      <!--div class="footer-phones-item">
        +7 (495) 123-34-56
      </div-->
    </div>
    <div class="footer-address">
      <a href="#">
        Москва, Борисовская улица
        дом 1, офис 9
      </a>
    </div>
  </div>
</footer>
