<footer class="footer">
  <div class="container">
    <div class="footer-menu-big">
      <menu>
        <li><a href="#">Company Information</a></li>
        <li><a href="#">Investor Relations</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Newsroom</a></li>
        <li><a href="#">Site Map</a></li>
        <li><a href="#">Jobs</a></li>
      </menu>
    </div>
    <div class="footer-menu-normal">
      <menu>
        <li><a href="#">Company Information</a></li>
        <li><a href="#">Investor Relations</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Newsroom</a></li>
        <li><a href="#">Site Map</a></li>
        <li><a href="#">Jobs</a></li>
      </menu>
      <menu>
        <li><a href="#">Company Information</a></li>
        <li><a href="#">Investor Relations</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Newsroom</a></li>
        <li><a href="#">Site Map</a></li>
        <li><a href="#">Jobs</a></li>
      </menu>
      <menu>
        <li><a href="#">Company Information</a></li>
        <li><a href="#">Investor Relations</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Newsroom</a></li>
        <li><a href="#">Site Map</a></li>
        <li><a href="#">Jobs</a></li>
      </menu>
    </div>
    <div class="footer-phones">
      <div class="footer-phones-item">
        <b>+7 (495) 943-08-03</b>
      </div>
      <!--div class="footer-phones-item">
        +7 (495) 123-34-56
      </div-->
    </div>
    <div class="footer-address">
      <a href="#">
        Москва, Борисовская улица <br>
        дом 1, офис 9
      </a>
    </div>
  </div>
</footer>
