<header class="header">
  <div class="container">
  	<a href="/" class="header-logo"><span>TSS</span></a>
  	<menu class="header-menu">
  		<li><a href="#">О нас</a></li>
  		<li><a href="#">О безопасности</a></li>
  		<li><a href="#">Наши партнеры</a></li>
  		<li><a href="#">Наше оборудование</a></li>
  	</menu>
  	<div class="header-search">
  		<form class="header-search-form">
  			<input type="text" class="header-search-input">
  			<input type="submit" class="header-search-submit" value="">
  		</form>
  	</div>
  </div>
</header>
