<header class="header">
  <div class="container">
  	<a href="/" class="header-logo"><span>TSS</span></a>
  	<menu class="header-menu">
  		<li><a href="#">Продукты</a>
        <ul>
          <li><a href="#">Diamond ACS</a></li>
          <li><a href="#">Diamond VPN/FW</a></li>
          <li><a href="#">Diamond USb Key</a></li>
          <li><a href="#">Diamond Virtual Secure</a></li>
        </ul>
      </li>
  		<li><a href="#">Решения</a>
        <ul>
          <li><a href="#">Защита персональных данных</a></li>
          <li><a href="#">Защита коммерческой тайны</a></li>
          <li><a href="#">Защита информации в открытых системах</a></li>
          <li><a href="#">Защита облачных инфраструктур</a></li>
        </ul>
      </li>
  		<li><a href="#">Услуги</a>
        <ul>
          <li><a href="#">Комплексная защита информации</a></li>
          <li><a href="#">Разработка средств защиты</a></li>
          <li><a href="#">Аудит ИБ</a></li>
          <li><a href="#">Консалтинг в области ИБ</a></li>
        </ul>
      </li>
      <li><a href="#">Материалы</a>
        <ul>
          <li><a href="#">Публикации</a></li>
          <li><a href="#">Образовательные программы</a></li>
          <li><a href="#">Вебинары</a></li>
          <li><a href="#">Блог</a></li>
        </ul>
      </li>
  		<li><a href="#">Компания</a>
        <ul>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Партнерам</a></li>
        </ul>
      </li>
  	</menu>
    <a href="#" class="header-menu-toggler">
      <span></span>
      <span></span>
      <span></span>
    </a>
  	<div class="header-search">
  		<form class="header-search-form">
  			<input type="text" class="header-search-input">
  			<input type="submit" class="header-search-submit" value="">
  		</form>
  	</div>
    <div class="header-phone">
      +7 (495) 943-08-03
    </div>
  </div>
</header>
