<div class="tile ld-w1 ld-h1 d-w2 d-h2">
  <div class="tile-content">
    <div class="blog-tile-content">
      <div class="blog-tile-head">Название поста в блоге</div>
      <div class="blog-tile-image">
        <img src="img/content/blog-img.png" alt="">
      </div>
      <div class="blog-tile-text">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae ...
        vitae dicta sunt explicabo. </p>

        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam ... </p>
      </div>
      <div class="blog-tile-more">
        <a href="#">Читать полностью</a>
      </div>
    </div>
  </div>
</div>
