<div class="trust">
  <div class="container">
    <div class="trust-h2"><b>Нам доверяют</b> крупнейшие игроки</div>
    <div class="trust-wrapper">
      <a href="#" class="trust-item trust-item-1" style="background-color: #bc1343;">
        <img src="img/content/ms-logo.png" alt="">
      </a>
      <a href="#" class="trust-item trust-item-2" style="background-color: #75b9b4;">
        <img src="img/content/intel-logo.png" alt="">
      </a>
      <a href="#" class="trust-item trust-item-3" style="background-color: #2e2e2e;">
        <img src="img/content/ibm-logo.png" alt="">
      </a>
      <a href="#" class="trust-item trust-item-4" style="background-color: #518985;">
        <img src="img/content/visa-logo.png" alt="">
      </a>
    </div>
  </div>
</div>
