<div class="tile ld-w1 ld-h2 d-w1 d-h2 twitter">
    <div class="twitter-content">
      <div class="twitter-head">
        <h3>Tweets:</h3>
        <a href="#" class="twitter-head-userid">
          @tssltd
        </a>
        <a href="#" class="twitter-head-follow">Follow</a>
      </div>
      <div class="twitter-feed">
        <div class="twitter-post">
          <a href="#" class="twitter-post-head">
            <span class="twitter-post-head-avatar">
              <img src="img/content/twitter-ava.jpg" alt="">
            </span>
            <span class="twitter-post-head-name">Simply Pipes</span>
            <span class="twitter-post-head-userid">@Diamond</span>
            <span class="twitter-post-head-date">2 may</span>
          </a>
          <div class="twitter-post-content">
            Amet, consecrtete adiapasds celit adiapasds celit, sed asd asdsad kjh <a href="#">@Diamond</a> asdklajsd pi asdfd er dsese <a href="#">@Diamond</a> asdklajsd pi asdfd er ds
          </div>
          <div class="twitter-post-retwitted"><a href="#">Retwitted by Sustion Shreve</a></div>
          <div class="twitter-post-image">
            <a href="#"><img src="img/content/twitter-img.jpg" alt=""></a>
          </div>
          <div class="twitter-post-footer">
            <a href="#" class="twitter-post-footer-retwitted"><b>12</b> Retwits</a>
            <a href="#" class="twitter-post-footer-favorites"><b>19</b> Favorites</a>
          </div>
        </div>
        <div class="twitter-post">
          <a href="#" class="twitter-post-head">
            <span class="twitter-post-head-avatar">
              <img src="img/content/twitter-ava.jpg" alt="">
            </span>
            <span class="twitter-post-head-name">Simply Pipes</span>
            <span class="twitter-post-head-userid">@Diamond</span>
            <span class="twitter-post-head-date">2 may</span>
          </a>
          <div class="twitter-post-content">
            Amet, consecrtete adiapasds celit adiapasds celit, sed asd asdsad kjh <a href="#">@Diamond</a> asdklajsd pi asdfd er dsese <a href="#">@Diamond</a> asdklajsd pi asdfd er ds
          </div>
          <div class="twitter-post-retwitted"><a href="#">Retwitted by Sustion Shreve</a></div>
          <div class="twitter-post-image">
            <a href="#"><img src="img/content/twitter-img.jpg" alt=""></a>
          </div>
          <div class="twitter-post-footer">
            <a href="#" class="twitter-post-footer-retwitted"><b>12</b> Retwits</a>
            <a href="#" class="twitter-post-footer-favorites"><b>19</b> Favorites</a>
          </div>
        </div>
        <div class="twitter-post">
          <a href="#" class="twitter-post-head">
            <span class="twitter-post-head-avatar">
              <img src="img/content/twitter-ava.jpg" alt="">
            </span>
            <span class="twitter-post-head-name">Simply Pipes</span>
            <span class="twitter-post-head-userid">@Diamond</span>
            <span class="twitter-post-head-date">2 may</span>
          </a>
          <div class="twitter-post-content">
            Amet, consecrtete adiapasds celit adiapasds celit, sed asd asdsad kjh <a href="#">@Diamond</a> asdklajsd pi asdfd er dsese <a href="#">@Diamond</a> asdklajsd pi asdfd er ds
          </div>
          <div class="twitter-post-retwitted"><a href="#">Retwitted by Sustion Shreve</a></div>
          <div class="twitter-post-image">
            <a href="#"><img src="img/content/twitter-img.jpg" alt=""></a>
          </div>
          <div class="twitter-post-footer">
            <a href="#" class="twitter-post-footer-retwitted"><b>12</b> Retwits</a>
            <a href="#" class="twitter-post-footer-favorites"><b>19</b> Favorites</a>
          </div>
        </div>
      </div>
      <div class="twitter-footer">
        <a href="#">Tweet to <span>@tssltd</span></a>
      </div>
    </div>
</div>
