<div class="twitter">
  <div class="container">
    <div class="twitter-post-wrapper">
      <div class="twitter-post">
        <div class="twitter-user">
          <div class="twitter-user-avatar">
           <img src="img/content/twitter-ava.jpg" alt="">
          </div>
          <div class="twitter-user-name">
            Adam Johnson
          </div>
          <div class="twitter-user-id">
            @adamjohnsonNYC
          </div>
        </div>
        <div class="twitter-post-content">
          <div class="twitter-image">
            <img src="img/content/twitter-img.jpg" alt="">
          </div>
          <div class="twitter-text">
            how many recruiters were foreign intel?
            "Spy accused of helping teens join ISIS claims he worked for Canadian intel"<br>
            <a href="#">http://goo.gl/14334578</a>
          </div>
        </div>
      </div>
      <div class="twitter-post">
        <div class="twitter-user">
          <div class="twitter-user-avatar">
            <img src="img/content/twitter-ava.jpg" alt="">
          </div>
          <div class="twitter-user-name">
            Adam Johnson
          </div>
          <div class="twitter-user-id">
            @adamjohnsonNYC
          </div>
        </div>
        <div class="twitter-post-content">
          <div class="twitter-text">
            how many recruiters were foreign intel?
            "Spy accused of helping teens join ISIS claims he worked for Canadian intel" <a href="#">#hashtag</a>, <a href="#">#hashtag</a>, <a href="#">#hashtag</a>,
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
