.blog-container {
  .grid {
    margin-top:60px;
    .clearfix();
    .tile {
      float:left;
      margin-bottom:14px;
      width:200px;
      height:400px;
      background: @white;
      box-shadow:0 1px 3px rgba(0,0,0,0.14);
      &.w1 {
        width:274px;
      }
      &.w2 {
        width:540px;
      }

      &.h1 {
        height:400px;
      }
      &.h2 {
        height:815px;
      }

    }
  }
}
