.ico {
  display: inline-block;
  position: relative;
  width:20px;
  height:20px;
  background-position: center center;
  background-repeat: no-repeat;
  &&-more {
    .at2x("@{img}/ico-more.png", 15px, 27px);
    width:15px;
    height:27px;
  }
}
