.twitter {
  margin:60px 0;
  .container {}
  &-post {
    background-color: @white;
    box-shadow:0 1px 3px rgba(0,0,0,0.14);
    width:650px;
    float:right;
    height:400px;
    position: relative;
    box-sizing: border-box;
    padding:30px;
    &:first-child {
      float:left;
      &:after{
        content:"";
        position: absolute;
        top:15px;
        bottom:15px;
        left:100%;
        width:1px;
        background-color: #dbdbdb;
        margin-left:60px;

      }
    }
    &-wrapper {
      .clearfix();
      padding:60px 0;
      border-top:1px solid #dddddd;
      border-bottom:1px solid #dddddd;
    }
    &-content {
      position: relative;
    }
  }
  &-user {
    border-bottom:1px solid #cccccc;
    height:70px;
    padding-bottom:30px;
    margin-bottom:30px;
    position: relative;

    &:after {
      content:"";
      display: block;
      position: absolute;
      top:20px;
      right:0px;
      .at2x("@{img}/twitter-logo.png", 109px, 35px);
      width:109px;
      height:35px;
    }
    &-avatar {
      overflow: hidden;
      width:70px;
      height:70px;
      border-radius: 15px;
      float:left;
      margin-right:30px;
    }
    &-name {
      padding:5px 0;
      font-size: 26px;
      font-family: @ffBold;
      color:#000;
    }
    &-id {
      font-size: 17px;
      font-family: @ffThin;
      color:#707070;
    }
  }
  &-image {
    position: absolute;
    top:0px;
    right:0;
    overflow:hidden;
    border-radius: 15px;
    width:255px;
    img {
      display: block;
      width:100%;
    }

  }
  &-image + &-text {
    margin-right:300px;
    &:after {
      content:"";
      display: block;
      position: absolute;
      top:0;
      left:100%;
      margin-left:30px;
      width:1px;
      height:100%;
      background-color: #cccccc;
    }

  }
  &-text {
    position: relative;
    height:210px;
    font-size: 17px;
    font-family: @ffThin;

    a {
      color:#518985;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
