<div class="offer-big black offer-1">
  <div class="container">
    <div class="offer-big-center">
      <div class="offer-big-center-h2">
        <b>Мы знаем всё </b><br>
        о защите персональных данных
      </div>
      <hr>
      <div class="offer-big-center-h3">
        Актуальная информация о необходимых лицензиях, сертификатах<br>
        и типовых проблемах собрана в удобном гиде для вас.
      </div>
      <a href="#" class="btn transparent">Скачать Гид</a>
    </div>
  </div>
</div>
