<div class="tile w2 h1 tile-4">
  <div class="tile-content">
    <div class="offer-tile-content">
      <div class="offer-tile-img" style="background-image:url(img/content/offer-small.png);"></div>
      <div class="offer-tile-description">
        <div class="offer-tile-title">
          Просто о сложном
        </div>
        <div class="offer-tile-text">
          Мы подготовили для Вас ознакомительный вебинар об особенностях<br>
          системы сетевой защиты Diamond VPN/FW.
        </div>
        <a href="#" class="offer-tile-more"><span class="btn transparent">Читать дальше</span><i class="ico ico-more"></i></a>

      </div>
    </div>
  </div>
</div>
